/**
 * Typography
 */

@use 'config/direction';
@use 'config/language';
@use 'config/media';
@use 'config/typography';

html {
  font-size: var(--nyco-typography-small);

  @if direction.$direction == 'rtl' {
    direction: rtl;
  }

  @include media.screen-and-min-width('small') {
    font-size: var(--nyco-typography-mobile);
  }

  @include media.screen-and-min-width('tablet') {
    font-size: var(--nyco-typography-tablet);
  }

  @include media.screen-and-min-width('desktop') {
    font-size: var(--nyco-typography-desktop);
  }
}

body {
  @include typography.set('body');
}

h1, .h1 {
  @include typography.set('h1');
}

h2, .h2 {
  @include typography.set('h2');
}

h3, .h3 {
  @include typography.set('h3');
}

h4, .h4 {
  @include typography.set('h4');
}

h5, .h5 {
  @include typography.set('h5');
}

h6, .h6 {
  @include typography.set('h6');
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: calc(var(--nyco-typography-margin-bottom) * 2);
  margin-bottom: var(--nyco-typography-margin-bottom);

  a:not(.btn) {
    font-weight: inherit
  }
}

small, .small {
  @include typography.set('small');
}

blockquote, .blockquote {
  @include typography.set('blockquote');
  margin-left: 0;
  margin-right: 0;
  margin-bottom: var(--nyco-typography-margin-bottom);

  @include media.screen-and-min-width('tablet') {
    margin-inline-start: calc(var(--nyco-grid) * -9);
  }

  p {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    @include media.screen-and-min-width('tablet') {
      padding-inline-start: calc(var(--nyco-grid) * 9);
    }
  }

  footer {
    @include typography.set('p');

    font-weight: normal;

    @include media.screen-and-min-width('tablet') {
      padding-inline-start: calc(var(--nyco-grid) * 9);
    }
  }

  cite {
    font-style: normal;
  }

  .blockquote__mark {
    position: absolute;
    display: none;

    @include media.screen-and-min-width('tablet') {
      display: block;
    }
  }
}

p, li {
  @include typography.set('p');

  a:not(.btn), b {
    font-weight: var(--nyco-fontWeight-bold, bold);
  }
}

@include typography.selector-body-elements() {
  margin-top: 0;
  margin-bottom: var(--nyco-typography-margin-bottom);
}

@include typography.selector-lists() {
  padding-inline-start: var(--nyco-typography-list-indent);
  margin-bottom: calc(var(--nyco-typography-margin-bottom) * 2);
}

// .font-primary {
//   @if language.$language == '' {

//   } @else {

//   }
// }

// .font-secondary {
//   @if language.$language == '' {

//   } @else {

//   }
// }

// @media print {
//   html { }
// }
